<!DOCTYPE html>
<html lang="en">
<head>
</head><!--/head-->


<body>




<div align=center >
  <div class="container" style=''>
  <div class="row">
  <div class="column"><b>Qualidade</b></div>
  <div class="column"><b>Vídeo</b></div>
  </div>
  <% @arqs.each do |arq| %>
    <% nomeArq = File.basename(arq,File.extname(arq)).gsub('_',' ').dup[1..-1].capitalize %>
     <div class="row">
      <div class="column"><img src='.\images\<%=arq[0]%>.png'></div>
      <div class="column"><a href='\play\<%=arq%>'><%=nomeArq%></a></div>
     </div>
  <% end %>
</div>


</body>