<% nomeArq = File.basename(@arq,File.extname(@arq)).gsub('_',' ').dup[1..-1].capitalize %>



<!DOCTYPE html>
<html lang="en">
<head>

</head><!--/head-->

<body>
  <div align=center style="">
    <h1><font face="verdana" color="red"><%=nomeArq%></font></h1>  
    <br/><br/><br/><br/>
    <div id='player' class='estiloplayer'>
    </div>
  </div>
<script>
    var player = new Clappr.Player({
                 source: '/arquivos/<%=@arq%>',
                 watermark: '/images/marca.png', position: 'top-right',
                 poster: '/images/logo_grande3.png',
                 parentId: '#player'
                 });
</script>
</body>
</html>
